.section {
  background-color: #d2d2d2;
  padding: 7% 0;
  text-align: center;
  box-shadow: 5px 5px 15px #7f7f7f;
}

.title {
  text-align: center;
}

.para {
  font-weight: lighter;
  text-align: center;
}

